.navbar{

}

.navbar-brand{border-radius: 0px;
    font-family: 'Satisfy', cursive;
}

body{
    margin: 0px;
    padding: 0px;
    background-image : url("images/background.jpg");
}

.data{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.another {
    font-size: 20px;
}

.divider{
    border-top: 1px solid #8c8b8b;
    margin-top: 5px;
}

.custom{
    color: white;
}
.custom:hover{
    text-decoration: none;
}
